@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 75px;
}

header .header-top {
  background-color: #0282f9;
  height: 10px;
  width: 100%;
}

header .container {
  margin: 0 auto;
  width: 80%;
}

header .container .header-bottom {
  height: 60px;
  width: 100%;
  margin-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .header-bottom .logo {
  width: 50px;
  height: 50px;
}

header .container .header-bottom .logo img {
  width: 100%;
}

header .container .header-bottom ul {
  display: flex;
  margin: 0 30px;
}

header .container .header-bottom li {
  margin: 0 15px;
  font-size: 8px;
}

header .container .header-bottom input {
  border: none;
  border-bottom: 1px solid #0282f9;
}

section {
  height: 200px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

footer .footer-top {
  height: 250px;
  display: flex;
  justify-content: space-between;
}

footer .footer-top .footer-top-left {
  display: flex;
}

footer .footer-top .footer-top-left .col {
  height: 100%;
  border: 1px solid black;
  margin-right: 20px;
}

footer .footer-top .footer-top-left .col h3 {
  color: white;
}

footer .footer-top .footer-top-left .col li {
  margin-top: 5px;
  font-size: 11px;
  color: gray;
}

footer .footer-top .footer-top-left .col #shop {
  margin-top: 10px;
}

footer .footer-top .footer-top-right img {
  height: 200px;
}

footer .footer-bottom {
  background-color: #1c1c1c;
  display: flex;
  height: 80px;
}

footer .footer-bottom .btn {
  padding: 10px;
  border: 1px solid #0282f9;
  color: white;
}

footer .footer-bottom .icons {
  display: flex;
  align-items: center;
}

footer .footer-bottom .icons .icon,
footer .footer-bottom .icons p {
  margin-right: 10px;
  color: #0282f9;
}

.banner {
  background-color: #0282f9;
}

.banner .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .element {
  display: flex;
  align-items: center;
  color: white;
}

.banner .element img {
  scale: 0.3;
  margin-right: -20px;
}

